<div class="login-container">
    <form action="" method="">
        <div class="login-form">
        <label for="username">username </label>
        <div class="form-grp">
        <i class="icon-user icon-2x" style="margin-right:9px;margin-top:10px;" ></i>
         <input type="text" id="username" name="username" class="custom-input" required>
        </div>
        
        <label for="password">password</label>
        <div class="form-grp">
        <i class="icon-lock icon-2x" style="margin-right:9px;margin-top:10px;" ></i>
        <input type="password" id="password" name="password" class="custom-input" required>
         </div>
        <button type="submit">Login</button>
        </div>
    </form>
</div>
